extends layout

block content


  .container.bg-light.shadow.rounded.pt-5.mb-5
    //- h1= message
    h2= error.status
    //- pre #{error.stack}
    section.row 
      .col-12.w-100.d-flex.flex-row.justify-content-center
        img.w-50(src='/images/code-error.svg')


